* {
	margin: 0;
	padding: 0;
	text-align: center
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth
}
@media (max-width:75em) {
	html {font-size: 60%}
}
@media (max-width:61.25em) {
	html {font-size: 58%}
}
@media (max-width:28.75em) {
	html {font-size: 55%}
}

body {
	font-family: Poppins, sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.4;
	color: #f0f0f0
}

h1 {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 7.5rem
}

ul {
	list-style: none
}

a {
	text-decoration: none;
	color: inherit
}

#nav {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #2356ff;
	box-shadow: 0 2px 0 rgba(0, 0, 0, .4);
	z-index: 10
}

#nav-list {
	display: flex;
	margin-right: 0 1rem
}

#nav-list a {
	display: block;
	font-size: 2rem;
	padding: 1.2rem;
	transition: background-color .25s ease-out;
	position: relative;
	overflow: hidden;
	cursor: pointer
}
#nav-list a:hover {
	background-color: #1d4ff3
}

span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple .6s linear;
	background-color: rgba(255, 255, 255, .3)
}
@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0
	}
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #292a2c;
	background-image: linear-gradient(62deg, #3a3d40 0, #181719 100%)
}

#title>p {
	font-size: 2.4rem;
	font-weight: 200;
	color: #3e6ef3
}

#title>p>a:hover {
	text-decoration: underline
}

footer {
	font-weight: 300;
	color: #ccc;
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;
	background-color: #212b30;
	border-top: 4px solid #2356ff
}
